.videoContainer {
    margin: 20px auto 0;
    width: 100%;
    background-color: #222020;
}
  .videoContainer .card-body {
    padding: 1rem;
  }
  .videoContainer video {
    width: 360px;
    height: 640px;
  }
  @media (max-width: 600px) {
    .videoContainer {
      width: 100%;
    }
      .videoContainer video {
        width: 240px;
        height: 426px;
      }
  }
  .videoContainer .card-title {
    font-size: 32px;
  }
  .videoContainer .card-text {
    color: #fff !important;
  }
.videoThumbs .card-body {
  padding: 0;
}
.videoThumbs .card-body img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}