.videoContainer {
    margin: 20px auto 0;
    width: 100%;
    background-color: #222020;
}
  @media (max-width: 600px) {
    .videoContainer {
      width: 100%;
    }
  }
  .videoContainer .card-title {
    font-size: 32px;
  }
  .videoContainer .card-text {
    color: #fff !important;
  }
